<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>au.com.redbackconsulting.skillsurvey.ui</display-name>

	<!-- BEGIN: DEV MODE -->
	<!-- DEV MODE switched off by default and can be switched on during development -->
	<!-- but has to be switched off for productive use on a Java server! -->
	<context-param>
		<param-name>com.sap.ui5.resource.DEV_MODE</param-name>
		<param-value>false</param-value>
	</context-param>
	<!-- END: DEV MODE -->
	
	<!-- ============================================================== -->
	<!-- Cache Control Filter to prevent caching of any resource        -->
	<!-- ============================================================== -->

	<filter>
		<filter-name>CacheControlFilter</filter-name>
		<display-name>CacheControlFilter</display-name>
		<filter-class>com.sap.ui5.resource.CacheControlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>*.xml</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>*.json</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>


	<!-- ============================================================== -->
	<!-- UI5 resource servlet used to handle application resources      -->
	<!-- ============================================================== -->
	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<display-name>ResourceServlet</display-name>
		<servlet-class>com.sap.ui5.resource.ResourceServlet</servlet-class>
	</servlet>
	<!-- ============================================================== -->
	<!-- UI5 proxy servlet                                              -->
	<!-- ============================================================== -->	
	<servlet>
		<servlet-name>SimpleProxyServlet</servlet-name>
		<servlet-class>com.sap.ui5.proxy.SimpleProxyServlet</servlet-class>
	</servlet>	
	<!-- ============================================================== -->
	<!-- UI5 resource servlet Mapping -->
	<!-- ============================================================== -->
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/test-resources/*</url-pattern>
	</servlet-mapping>
	<!-- ============================================================== -->
	<!-- UI5 proxy servlet Mapping  -->
	<!-- ============================================================== -->		
	<servlet-mapping>
		<servlet-name>SimpleProxyServlet</servlet-name>
		<url-pattern>/proxy/*</url-pattern>
	</servlet-mapping>

	<!-- ============================================================== -->
	<!-- Welcome file list                                              -->
	<!-- ============================================================== -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	
	
	  
</web-app>